<div class="splash-container d-flex flex-column justify-content-center align-items-center">
  <h1 class="animated-text fw-bold text-light display-1">{{ displayedText }}</h1>

  <div class="button-container d-flex">
    <button class="btn btn-primary fw-bold" routerLink="/login">Login</button>
    <button class="btn btn-secondary fw-bold" routerLink="/sign-up">Sign Up</button>
  </div>

  <!-- Add the animated track below the buttons -->
  <div class="track-container">
    <div  class="car"></div>
  </div>
</div>
